//- ---
//- title: Index
//- ---

block content
  .container.mx-auto
    #searchbox.my-3.rounded.shadow
    #hits


  textarea#hitTemplate(hidden)
    include _includes/templates/hit
  textarea#emptyTemplate(hidden)
    include _includes/templates/empty
