@import 'theme:style.css';

.ais-Hits-item {
  @apply w-33p pr-1 pb-1;
}

.__captions .ais-highlight {
  @apply bg-transparent yellow;
}

.text-shadow-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.bg-youtube {
  background-image: url('./assets/youtube-overlay.png');
  background-size: 150px 100px;
}

.ais-RefinementList-label {
  @apply pointer;
}
.ais-RefinementList-item:hover {
  @apply underline underline-yellow;
}
.ais-RefinementList-item--selected {
  @apply bold;
}
.ais-RefinementList-checkbox {
  @apply hidden;
}
.ais-RefinementList-count {
  @apply bg-yellow white bold rounded-100p px-01;
}
